
.timer{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.timer_shell {
   width: 800px;
   height: 400px;
   background: #fff;
	box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
	border-radius: 30px;
}
.timer_title{
   text-align: center;
   margin-top: 50px;
   margin-bottom: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 50px;
}
.timer_inner{
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.timer__numbers{
   display: flex;
}
.timer__val {
   font-family: 'Roboto', sans-serif;
   font-size: 70px;
   line-height: 82px;
   text-align: center;
   color: #5D71DD;
}
.timer__text {
   margin: 10px 0 0 10px;;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   line-height: 56px;
}
.timer__spacer {
   margin: auto 40px;
   font-family: 'Roboto', sans-serif;
   font-size: 48px;
   line-height: 56px;
   color:#5D71DD;
}
.timer__days {
}
.timer__hours {
}
.timer__mintes {
}
.timer__secinds {
}